.search-input {
  border: none;
}

.admin-products-list table {
  border-bottom: none;
  text-decoration: none;
  border-bottom: 2px;
}

.btn-archived {
  color: #B2AAA1;
}

.btn-archived:hover {
  color: #423F3C;
}
