.btn {
  border: none;
  border-radius: 0;
  color: #FFF;
  font-size: 1.3em;
  background-color: #FF4C51;
  padding: 0.5em 1em 0.5em 1em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.btn:hover {
  color: #FFF;
}

.btn:hover,
.add-link:hover, 
.fa-plus-circle:hover {
  opacity: 0.9;
  text-decoration: none;
}

.fa-plus-circle {
  font-size: 2.5em;
  color: #FF4C51;
}

.add-link p {
  
  font-size: 1.5em;
  display: inline;
  color: #525150;
  vertical-align: top;
}

.btn:active:focus, 
.btn:focus,
.btn-add:active:focus, 
.btn-add:focus {
  outline: none;
  outline-offset: 0;
}

.btn:active:focus, 
.btn:focus {
  color: #FFF;
}
