.th-remove {
  width: 80px;
}

.table-checkout input {
  background-color: #f6f6f6;
  border-radius: 0;
  border: none;
  width: 5em;
  margin: 0 auto;
  text-align: center;
}

.table-checkout button {
  background-color: #FFF;
  border: none;

}

.table-checkout button i {
  color: black;
  font-size: 1.3em;
}

/*Order form*/

.showing {
  transition: all linear 1s;
}
