ul.menu {
  list-style: none;
  margin: 0;
  padding:0;
  text-align:center;
  margin-top: 2em;
}

ul.menu li, button {
  display: inline;
  margin-right:25px; /* spacing between each menu item */
  font: 1.2em 'Titillium Web', sans-serif;
}

ul.menu li a {
  position: relative;
  display: inline-block;
  color: black;
  padding: 2px 3px;
  padding-bottom: 8px; /*spacing between each menu item and underline beneath it */
  text-decoration: none;
  margin-bottom: 20px; /* spacing between A elements, relevant when menu becomes multi-lined */
  letter-spacing: .1em;
}

ul.menu li a:after {
  position: absolute;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #FF4C51;
  top: 100%;
  left: 0;
  opacity: 0;
  z-index: -1;
  -wekkit-transition: all .3s;
  transition: all .3s;
}

ul.menu li a:hover:after {
  width: 100%; /* increase underline width to 100% */
  opacity: 1;
}

.nav-cart {
  color: #FF4C51;
  font-size: 2em;
}

.counting {
  color: #FF4C51;
  font-size: 1.5em;
  margin-top: 0.5em;
}

button {
  background: none;
  border: none;
}

.logout:hover {
  color: #FF4C51;
}

@media only screen and (min-width: 640px) {
  .nav-cart {
    margin-right: 2em;
  }

}
