<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#!/admin/products">HUB GOURMET</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#!/admin/products">PRODUCTS</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="admin-add-product">
  <form ng-submit="add.addProduct(add.newProductModel)">
    <div class="form-group">
      <label for="productID">Referencia</label>
      <input type="text"
             class="form-control"  
             name="productID" 
             ng-model="add.newProductModel.productID" 
             placeholder="Añadir referencia del producto">
    </div>
    <div class="form-group">
      <label for="description">Producto</label>
      <input type="text"
             class="form-control"  
             name="description" 
             ng-model="add.newProductModel.description" 
             placeholder="Añadir descripción del producto">
    </div>
    <div class="form-group">
      <label for="productUnitQuantity">Cantidad</label>
      <input type="number"
             class="form-control"  
             name="productUnitQuantity" 
             ng-model="add.newProductModel.productUnitQuantity" 
             placeholder="Añadir cantidad del producto">
    </div>
    <div class="form-group">
      <label for="productUnit">Unidad de medida</label>
      <input type="text"
             class="form-control"  
             name="productUnit" 
             ng-model="add.newProductModel.productUnit" 
             placeholder="Añadir unidad de medida del producto">
    </div>
    <div class="form-group">
      <label for="price">Precio</label>
      <input type="number"
             class="form-control"  
             name="price" 
             ng-model="add.newProductModel.price" 
             placeholder="Añadir precio del producto">
    </div>
    <div class="form-group">
      <label for="minOrderQuantity">Compra mínima</label>
      <input type="number"
             class="form-control"  
             name="minOrderQuantity" 
             ng-model="add.newProductModel.minOrderQuantity" 
             placeholder="Añadir orden de compra mínima del producto">
    </div>
     <!-- <div class="form-group">
      <label for="file">Imagen</label>
      <input type='file' 
             ng-model='add.newProductModel.base64Img'
             accept="image/*" 
             maxsize="5000"
             required base-sixty-four-input>
      <p class="help-block">Selecciona una imagen del producto</p>
    </div> -->
    <button type="submit">Añadir</button>
  </form>
</div>
