<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#!/admin/products">HUB GOURMET</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#!/admin/products">PRODUCTS</a></li>
        <li><a href="#!/admin/orders">ÓRDENES DE COMRPA</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="admin-products-list">
  <h2>INVENTORY</h2>
  <a href="#!/admin/product/add"><button type="submit" class="btn btn-sm btn-success">
    <i class="glyphicon glyphicon-plus">
    </i> Añadir Producto
  </button></a>
  <div class="table-responsive">
    <table st-table="admin.displayedProductsList" st-safe-src="admin.productsList" class="table table-striped">
      <thead>
        <tr>
          <th st-sort="productID" st-sort-default="true">Referencia</th>
          <th st-sort="description">Producto</th>
          <th st-sort="productUnitQuantity">Cantidad</th>
          <th st-sort="productUnit">Unidad de Medida</th>
          <th st-sort="price">Precio</th>
          <th st-sort="minOrderQuantity">Orden Mínima</th>
          <th></th>
        </tr>
        <tr>
          <th colspan="6"><input st-search="" class="form-control" placeholder="Búsqueda global de productos ..." type="text"/></th>
        </tr>
      </thead>
      <tbody ng-repeat="product in admin.displayedProductsList">
        <tr>
          <td>{{ product.productID }}</td>
          <td><a onaftersave="product.$save()" editable-text="product.description" ng-model="admin.newProductModel.description">{{ product.description }}</td>
          <td><a onaftersave="product.$save()" editable-text="product.productUnitQuantity">{{ product.productUnitQuantity }}</td>
          <td><a onaftersave="product.$save()" editable-text="product.productUnit">{{ product.productUnit }}</td>
          <td><a onaftersave="product.$save()" editable-text="product.price">{{ product.price }}</td>
          <td><a onaftersave="product.$save()" editable-text="product.minOrderQuantity">{{ product.minOrderQuantity }}</td>
          <td><a onaftersave="product.$save()" editable-text="product.base64Img">{{ product.base64Img }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
