<footer>
  <div class="row">
    <div class="col-md-9">
      <ul class="list-unstyled text-center">
        <div class="col-md-3">
          <li>
            <p id="location"><i class="fa fa-map-marker" aria-hidden="true"></i></p>
            <p>Valencia, Venezuela</p>
          </li>
        </div>
        <div class="col-md-3">
          <li>
            <p id="phone"><i class="fa fa-phone" aria-hidden="true"></i></p>
            <p>+58 412 657 89 09</p>
          </li>
        </div>
        <div class="col-md-3">
          <li>
            <p id="email"><i class="fa fa-envelope-o" aria-hidden="true"></i></p>
            <p>contacto@hubgourmet.com</p>
          </li>
        </div>
      </ul>
    </div>
    <div class="col-md-3 text-center">
      <a href><i class="fa fa-facebook-square icons social" aria-hidden="true"></i></a>
      <a href><i class="fa fa-twitter-square icons social" aria-hidden="true"></i></a>
      <a href><i class="fa fa-linkedin social" aria-hidden="true"></i></a>
      <div class="row">
        <div class="col-md-12">
          <p class="copyright text-right">Copyright © 2017. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
