<div class="logout-tag" ng-if="mainHeader.showAdminComponents()"><button type="button" ng-click="mainHeader.authService.logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Cerrar sesión</button></div>
<div class="main-container container">
  <a href="#!/products"><img class="main-brand" src="img/logo.png" alt=""></a>
  <ul class="nav main-nav">
    <li ng-if="mainHeader.hideClientComponents()"><a href="#!/products">INICIO</a></li>
    <li ng-if="mainHeader.hideClientComponents()"><a href="#!/products">PRODUCTOS</a></li>
    <li ng-if="mainHeader.hideClientComponents()"><a href="#!/products">CONTACTO</a></li>
    <li ng-if="mainHeader.showAdminComponents()"><a href="#!/admin/products">PRODUCTOS</a></li>
    <li ng-if="mainHeader.showAdminComponents()"><a href="#!/admin/orders">COMPRAS</a></li>
    <li ng-if="mainHeader.showAdminComponents()"><a href="#!/products">TIENDA</a></li>
    <li ng-if="mainHeader.showAdminComponents()"><a href="#!/products"></a></li>
    <li ng-if="mainHeader.hideClientComponents()" shopping-cart-menu></li>
    <li ng-if="mainHeader.showCart()" shopping-cart-menu></li>
  </ul>
</div>
