<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#!/products">HUB GOURMET</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#!/products">PRODUCTS</a></li>
      </ul>
      <div shopping-cart-menu></div>
    </div>
  </div>
</nav>

 <table class="table">
  <thead>
  <div>
        <tr>
          <th>Producto</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Total</th>
        </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in checkout.getItems()">
      <td>
        <button type="submit" ng-click="checkout.removeItem(item.product)">
          <i class="glyphicon glyphicon-remove"></i>
        </button>{{ item.product.description }}
      </td>
      <td>{{ item.product.price | currency }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.quantity * item.product.price | currency }}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>{{ checkout.total() | currency }}</td>
    </tr>
  </tbody>
