<div main-header></div>

<div class="container">
  <table class="table table-checkout">
    <thead>
      <tr>
        <th class="th-remove"></th>
        <th class="left">Producto</th>
        <th class="right">Precio</th>
        <th class="right">Cantidad</th>
        <th class="right">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in checkout.getItems()">
        <td class="center">
          <button type="submit" ng-click="checkout.removeItem(item.product)">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </td>
        <td>{{ item.product.description }}</td>
        <td class="right">{{ item.product.price | currency }}</td>
        <td class="right">
          <div class="form-group pull-right">
            <input type="number"
                   min="1"
                   class="form-control"
                   ng-model="item.quantity">
          </div>
        </td>
        <td class="right">{{ item.quantity * item.product.price | currency }}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="right">{{ checkout.total() | currency }}</td>
      </tr>
    </tbody>
  </table>
  <button class="order-button pull-right" type="button" ng-click="showForm=true">RESERVAR</button>
</div>


<div class="container add-order">
  <form class="form animate-show-hide" ng-submit="checkout.addOrder(checkout.newOrderModel)" ng-show='showForm'>
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text"
             class="form-control"  
             name="name" 
             ng-model="checkout.newOrderModel.name" 
             placeholder="Ingrese su nombre">
    </div>
    <div class="form-group">
      <label for="surname">Apellido</label>
      <input type="text"
             class="form-control"  
             name="surname" 
             ng-model="checkout.newOrderModel.surname" 
             placeholder="Ingrese su Apellido">
    </div>
    <div class="form-group row">
      <div class="col-xs-12">
        <label for="identification">Identificación</label>
      </div>
      <div class="col-sm-1">
        <select class="form-control" 
                ng-model="checkout.newOrderModel.identificationType" 
                ng-options="type for type in ['V', 'E', 'J']">
        </select>
      </div>
      <div class="col-sm-11">
        
        <input type="text"
               class="form-control"  
               name="identificationNumber" 
               ng-model="checkout.newOrderModel.identificationNumber" 
               placeholder="Ingrese su número de identificación">
      </div>
    </div>
    <div class="form-group">
      <label for="mail">Correo Electrónico</label>
      <input type="text"
             class="form-control"  
             name="mail" 
             ng-model="checkout.newOrderModel.mail" 
             placeholder="Ingrese su correo electrónico">
    </div>
    <div class="form-group">
      <label for="telephone">Telefóno</label>
      <input type="text"
             class="form-control"  
             name="telephone" 
             ng-model="checkout.newOrderModel.telephone" 
             placeholder="Ingrese su teléfono">
    </div>
    <button class="order-button pull-right" type="submit">ENVIAR</button>
  </form>
</div>
