<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#!/products">HUB GOURMET</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#!/products">PRODUCTS</a></li>
      </ul>
      <div shopping-cart-menu></div>
    </div>
  </div>
</nav>

 <table class="table">
  <thead>
    <tr>
      <th>Producto</th>
      <th>Precio</th>
      <th>Cantidad</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in checkout.getItems()">
      <td>
        <button type="submit" ng-click="checkout.removeItem(item.product)">
          <i class="glyphicon glyphicon-remove"></i>
        </button>{{ item.product.description }}
      </td>
      <td>{{ item.product.price | currency }}</td>
      <td>
        <div class="form-group">
          <input type="number"
                 min="1"
                 class="form-control"
                 ng-model="item.quantity">
        </div>
      </td>
      <td>{{ item.quantity * item.product.price | currency }}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>{{ checkout.total() | currency }}</td>
    </tr>
  </tbody>
</table>

<div class="admin-add-order">
  <form class="form" ng-submit="checkout.addOrder(checkout.newOrderModel)">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text"
             class="form-control"  
             name="name" 
             ng-model="checkout.newOrderModel.name" 
             placeholder="Ingrese su nombre">
    </div>
    <div class="form-group">
      <label for="surname">Apellido</label>
      <input type="text"
             class="form-control"  
             name="surname" 
             ng-model="checkout.newOrderModel.surname" 
             placeholder="Ingrese su Apellido">
    </div>
    <div class="form-group">
      <label for="identification">Identificación</label>
      <select class="form-control" 
              ng-model="checkout.newOrderModel.identificationType" 
              ng-options="type for type in ['V', 'E', 'J']">
      </select>
      <input type="text"
             class="form-control"  
             name="identificationNumber" 
             ng-model="checkout.newOrderModel.identificationNumber" 
             placeholder="Ingrese su número de identificación">
    </div>
    <div class="form-group">
      <label for="mail">Correo Electrónico</label>
      <input type="text"
             class="form-control"  
             name="mail" 
             ng-model="checkout.newOrderModel.mail" 
             placeholder="Ingrese su correo electrónico">
    </div>
    <div class="form-group">
      <label for="telephone">Telefóno</label>
      <input type="text"
             class="form-control"  
             name="telephone" 
             ng-model="checkout.newOrderModel.telephone" 
             placeholder="Ingrese su teléfono">
    </div>
    <button type="submit">Añadir</button>
  </form>
</div>
