<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#!/products">HUB GOURMET</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#!/products">PRODUCTS</a></li>
      </ul>
      <div shopping-cart-menu></div>
    </div>
  </div>
</nav>

<section class="container products-list">
  <div class="row">
    <div class="product-card pull-left col-sm-6 col-md-4 img-responsive" ng-repeat="product in products.productsList">
      <div class="img-product-card" ng-style="{'background-image':'url(../download.jpg)'}">
        <div class="product-card-shop">
          <button type="button" class="btn shop-button" ng-click="products.addItem(product, 1)">
            <i class="glyphicon glyphicon-shopping-cart"></i>
          </button>
          <p class="add-to-cart">Añadir al carrito</p>
        </div>
      </div>
      <div class="product-description">{{ product.description }}</div>
      <div>{{ product.productUnitQuantity + product.productUnit }}</div>
      <div>{{ product.price | currency }}</div>
    </div>
  </div>
</section>
