<div main-header></div>

<section class="container products-list">
  <div class="row">
    <div class="product-card pull-left col-xs-12 col-md-6 col-lg-4" ng-repeat="product in products.productsList">
      <div class="img-product-card">
        <img ng-src="{{ product.base64Img || '../download.jpg' }}" alt="">
        <div class="product-card-shop">
          <button type="button" class="btn shop-button" ng-click="products.addItem(product, 1)">
            <i class="glyphicon glyphicon-shopping-cart"></i>
          </button>
          <p class="add-to-cart">Añadir al carrito</p>
        </div>
      </div>
      <div class="product-description">{{ product.description }}</div>
      <div>{{ product.productUnitQuantity + product.productUnit }}</div>
      <div>{{ product.price | currency }}</div>
    </div>
  </div>
</section>
